*, *::after, *::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #444;
}

:root {
	--grid-size: min(100vw, 70vh);
	--board-size: calc(var(--grid-size) / 3);
	--cell-size: calc(var(--board-size) / 3 * 0.9);
	/**/
	--grid-border: calc(max(var(--grid-size) * 0.01, 1px));
	--board-border: calc(max(var(--board-size) * 0.05, 1px));
	--cell-border: calc(max(var(--cell-size) * 0.1, 1px));
	/**/
	--mark-size: calc(var(--cell-size) * 0.75);
	/**/
	--grid-color: #bbb;
	--board-color: #ddd;
	--cell-color: #fff;
	/**/
	--grid-border-color: #333;
	--board-border-color: #777;
	--cell-border-color: #aaa;
	/**/
	--invalid-color: rgba(0, 0, 0, 0.5);
	--won-color: rgba(0, 0, 0, 0.75);
}

.container {
	/* background: red; */
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, var(--board-size));
	grid-template-rows: repeat(3, var(--board-size));
	position: absolute;
	padding: var(--grid-border);
	background-color: var(--grid-color);
	box-shadow: 0 0 0 2px black;
	top: 0;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, var(--cell-size));
	grid-template-rows: repeat(3, var(--cell-size));
	margin: calc(var(--board-border) * 1);
	background-color: var(--board-color);
	box-shadow: 0 0 0 2px black;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--cell-color);
	margin: var(--cell-border);
	box-shadow: 0 0 0 2px black;
}

.cell.x::before, .cell.x::after, .cell.o::before {
	background-color: black;
}

.cell.x::before, .cell.x::after {
	content: '';
	position: absolute;
	width: calc(var(--mark-size) * 0.15);
	height: var(--mark-size);
}

.cell.x::before {
	transform: rotate(45deg);
}

.cell.x::after {
	transform: rotate(-45deg);
}

.cell.o::before, .cell.o::after {
	content: '';
	position: absolute;
	border-radius: 50%;
}

.cell.o::before {
	width: var(--mark-size);
	height: var(--mark-size);
}

.cell.o:not(.invalid):not(.won)::after {
	width: calc(var(--mark-size) * 0.7);
	height: calc(var(--mark-size) * 0.7);
	background: var(--cell-color);
	opacity: 1;
}

.cell.o::after {
	width: calc(var(--mark-size) * 0.7);
	height: calc(var(--mark-size) * 0.7);
	background: var(--cell-color);
	opacity: 0.5;
}

.cell.o.won::after {
	width: calc(var(--mark-size) * 0.7);
	height: calc(var(--mark-size) * 0.7);
	background: var(--cell-color);
	opacity: 0.25;
}

.invalid {
	background: var(--invalid-color);
}

.won {
	background: var(--won-color);
}

.winning-message {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.9);
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 5rem;
	flex-direction: column;
}

.winning-message button {
	font-size: 3rem;
	background-color: white;
	border: 1px solid black;
	padding: 0.25em 0.5em;
	cursor: pointer;
}

.winning-message button:hover {
	background-color: black;
	color: white;
	border-color: white;
}

.winning-message.show {
	display: flex;
}

.next-turn {
	color: white;
	text-align: center;
	font-size: 10vh;
	font-family: sans-serif;
	text-shadow: 0 0 1vh black;
	padding-top: 88vh;
}