*, *::after, *::before {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 1vh;
}

:root {
	--field-size: calc(var(--board-size) * 3 + var(--field-border) * 4);
	--field-border: calc(var(--board-border) * 2);
	--board-size: calc(var(--cell-size) * 3 + var(--board-border) * 4);
	--board-border: calc(var(--cell-border) * 4);
	--cell-size: min(9vw, 9vh);
	--cell-border: max(calc(var(--cell-size) * 0.02), 1px);
	--mark-size: calc(var(--cell-size) * 0.75);
	--field-border-color: #555;
	--board-border-color: #999;
	--cell-border-color: #ccc;
}

.field {
	width: var(--field-size);
	height: var(--field-size);
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: repeat(3, var(--board-size));
	grid-template-rows: repeat(3, var(--board-size));
	outline: calc(var(--field-border) / 2) solid var(--field-border-color);
	gap: var(--field-border);
	padding: var(--field-border);
}

.field * {
	position: relative;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, var(--cell-size));
	grid-template-rows: repeat(3, var(--cell-size));
	outline: calc(var(--board-border) / 2) solid var(--board-border-color);
	gap: var(--board-border);
	padding: var(--board-border);
}

.board * {
	position: relative;
}

.cell {
	outline: calc(var(--cell-border) / 2) solid var(--cell-border-color);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.cell.x::before, .cell.x::after, .cell.o::before {
	background-color: black;
}

.cell.x::before, .cell.x::after {
	content: '';
	position: absolute;
	width: calc(var(--mark-size) * 0.15);
	height: var(--mark-size);
}

.cell.x::before {
	transform: rotate(45deg);
}

.cell.x::after {
	transform: rotate(-45deg);
}

.cell.o::before, .cell.o::after {
	content: '';
	position: absolute;
	border-radius: 50%;
}

.cell.o::before {
	width: var(--mark-size);
	height: var(--mark-size);
}

.cell.o:not(.invalid)::after {
	width: calc(var(--mark-size) * 0.7);
	height: calc(var(--mark-size) * 0.7);
	background: white;
}

.cell.o::after {
	width: calc(var(--mark-size) * 0.7);
	height: calc(var(--mark-size) * 0.7);
	background: rgba(255, 255, 255, 0.5);
}

.invalid {
	background: rgba(0, 0, 0, 0.5);
}

.winning-message {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.9);
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 5rem;
	flex-direction: column;
}

.winning-message button {
	font-size: 3rem;
	background-color: white;
	border: 1px solid black;
	padding: 0.25em 0.5em;
	cursor: pointer;
}

.winning-message button:hover {
	background-color: black;
	color: white;
	border-color: white;
}

.winning-message.show {
	display: flex;
}